body{
  background-color: #3d3d3d;
}

.selections{
  display: flex;
  justify-content: center;
  
}

.selection{
  background:none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 80px;
  transition: 300ms;
}

.selection:hover{
  transform: scale(1.5);
}

.results{
  margin-top: 1rem;
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  justify-items:center ;
  align-items: center;
  font-family: cursive;
}

.result-score{
  font-family: cursive;
  margin-left: .1rem;
  font-size: 30px;
  color: #ffa500;
}

.result-selection{
  font-size: 50px;
opacity:.5;
}
.result-selection-winner{
  opacity: 1;
  font-size: 50px;
}

h1{
  text-align: center;
  color: #ffa500;
  font-family:  cursive;
}